/* General button styling */
Button {
    -fx-font-size: 18px;
    -fx-background-color: #f0f0f0;
    -fx-border-color: #628fa5;
    -fx-border-width: 2px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: black;
    -fx-padding: 25 0 35 0;
    -fx-pref-width: 200px;
    -fx-pref-height: 100px;
}


Button:hover {
    -fx-background-color: #b41c59;
    -fx-text-fill: white;
    -fx-border-color: #999;
}


.txttitle {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-underline: true;
    -fx-padding: 25 0 35 0;
    -fx-alignment: center;
}


GridPane {
    -fx-padding: 40;
    -fx-hgap: 20;
    -fx-vgap: 20;
    -fx-alignment: center;
}


.title {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-padding: 10 0 20 0;
}


.button-connect {
    -fx-font-size: 18px;
    -fx-background-color: #f0f0f0;
    -fx-border-color: #628fa5;
    -fx-border-width: 2px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: black;
    -fx-padding: 10 20 10 20;
}


.button-connect:hover {
    -fx-background-color: #b41c59;
    -fx-text-fill: white;
    -fx-border-color: #999;
}


.image {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 10, 0, 0, 1);
    -fx-alignment: center;
    -fx-padding: 20 0 10 0;
}


AnchorPane {
    -fx-background-color: #d3d3d3 ;
}


AnchorPane {
    -fx-background-image: url("wmn.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
